@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');

:root {
  --bg-color: #f8f4ff;
  --font-color: #303663;
  --btn-color: #227965;
  --btn-hover-color: #1b584a;
  --btn-active-color: #184b3f;
  --btn-shadow-color: #a5d1c6;
  --card-shadow-color: #9db1ac;
  --text-link-color: #227965;
  
  font-family: 'Hind', sans-serif;
  font-size: 62.5%;
}

* { box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 1.6rem;
  color: var(--font-color);
  background-color: var(--bg-color);
}

nav#home { 
  border-bottom: 1px solid var(--font-color);
}

.navbar {
  overflow: hidden;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.navbar li { display: inline; }

.navbar li a {
  color: var(--font-color);
  text-decoration: none;
  display: none;
  padding: 1.5rem 3rem 0 0;
}

.navbar li #home {
  display: inherit;
  padding-left: 3rem;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--text-link-color);
}

.navbar .icon-toggle {
  float: right;
  display: block;
  padding: 0 3rem 0 0;
  height: 32px;
}

/* Active when toggle icon clicked */
.navbar.responsive { position: relative; }

.navbar.responsive .icon-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar.responsive li a {
  float: none;
  display: block;
  text-align: right;
}

.jumbotron {
  max-width: 90%;
  margin: 0 auto;
}

.jumbotron #title {
  margin: 3rem 0;
}

.jumbotron #title-desc {
  max-width: 80%;
  margin: 0 auto 3rem auto;
}

.jumbotron #title-img {
  max-width: 300px;
  height: auto;
}

main {
  max-width: 90%;
  margin: 5rem auto;
}

.card {
  margin: 0 0 3rem 0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 10px -3px var(--card-shadow-color);
}

.desc-article h2, .desc-article p {
  margin: 1rem auto 0 auto;
}

.btn-explore {
  margin: 2rem 0 0 0;
  padding: 1.5rem 6rem;
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 8px;
  color: white;
  box-shadow: 2px 2px 3px 1px var(--btn-shadow-color);
}

.btn-explore:hover {
  background-color: var(--btn-hover-color);
  cursor: pointer;
}

.btn-explore:active {
  background-color: var(--btn-active-color);
}

.hero-article {
  max-width: 40%;
}

#creator-img {
  max-width: 250px;
  height: auto;
  border-radius: 100%;
}

#information table {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: left;
}

#information table th {
  padding: 0 1rem 0 0;
}

.text-link {
  text-decoration: none;
  color: var(--text-link-color);
}

.text-link:hover {
  text-decoration: underline;
}

.sosmed-img {
  width: 32px;
  margin: 0 1.5rem;
}

footer h3, footer p {
  margin: 1rem 0;
}

footer {
  padding: 1.6rem 0;
  border-top: 1px solid var(--font-color);
}

/* Small Screen */
@media screen and (min-width: 576px) {
  main {
    max-width: 540px;
  }

  .navbar li #home {
    padding-left: 5rem;
  }

  .navbar.responsive li a {
    padding-right: 5rem;
  }

  .navbar .icon-toggle {
    padding-right: 5rem;
  }
  
  .card {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hero-article {
    margin: auto 0;
  }

  .desc-article {
    width: 60%;
    text-align: center;
  }

  .desc-article h2 {
    margin: 0 auto;
  }

  .desc-article p {
    width: 90%;
  }

  #profile-card {
    flex-direction: column;
  }
}

/* Medium Screen */
@media screen and (min-width: 768px) {
  main {
    max-width: 720px;
  }
  
  .navbar {
    text-align: center;
  }
  
  .navbar li a {
    display: inline;
    padding: 1.5rem 2rem 0 2rem;
  }

  .navbar li #home {
    padding-left: 0;
  }

  .navbar .icon-toggle {
    display: none;
  }

  .jumbotron {
    max-width: 720px;
    margin: 3rem auto 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .jumbotron #title-container {
    width: 40%;
    text-align: left;
    margin: auto;
  }

  .jumbotron #title {
    max-width: 80%;
    margin: 0 0 2rem 0;
    font-size: 3.2rem;
  }

  .jumbotron #title-desc {
    max-width: 80%;
    margin: 0;
  }

  .jumbotron #title-img {
    max-width: 60%;
  }
}

/* Large Screen */
@media screen and (min-width: 992px) {
  main {
    max-width: 960px;
    box-shadow: 0 5px 10px 1px var(--card-shadow-color);
    border-radius: 8px;
    padding: 3rem;
    overflow: auto;
  }

  main #content {
    max-width: 55%;
    float: left;
  }

  main #profile {
    max-width: 45%;
    float: right;
    padding-left: 2rem;
  }

  .jumbotron {
    max-width: 960px;
  }

  .jumbotron #title-container {
    margin: auto auto auto 0;
  }

  .jumbotron #title-img {
    max-width: 50%;
  }


}

/* Extra Large Screen */
@media screen and (min-width: 1200px) {
  main {
    max-width: 1140px;
  }

  main #content {
    max-width: 60%;
  }

  main #profile {
    max-width: 40%;
  }

  .jumbotron {
    max-width: 1140px;
  }

  .jumbotron #title {
    font-size: 4.8rem;
  }

  .jumbotron #title-desc {
    max-width: 90%;
  }

  .jumbotron #title-img {
    max-width: 45%;
  }


}